parameters:
    level: 5

    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    ignoreErrors:
        -
            message: "#Class Laravel\\\\Lumen\\\\Application not found\\.#"
            count: 1
            path: src/SecureHeadersServiceProvider.php

        -
            message: "#Call to an undefined method Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:configure\\(\\)\\.#"
            count: 1
            path: src/SecureHeadersServiceProvider.php
