<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  beStrictAboutChangesToGlobalState="true"
  colors="true"
  columns="max"
  executionOrder="random"
  stderr="true"
>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="error_reporting" value="-1"/>
    <ini name="log_errors_max_len" value="0"/>
    <ini name="xdebug.show_exception_trace" value="0"/>
    <ini name="assert.exception" value="1"/>
  </php>
</phpunit>
